/* BASE COLORS */
.lightblue {
  fill: #75d2fc; }

.white {
  fill: #fff; }

.green {
  fill: #23af94; }

.grey {
  fill: #5c6670; }

.red {
  fill: #ed7069; }

.lightgrey {
  fill: #bcc8d3; }

.yellow {
  fill: #f5b976; }

.salmon {
  fill: #edad99; }

.brown {
  fill: #664d31; }

.orange {
  fill: #f4805b; }

.turqouis {
  fill: #91d8d6; }

.blue {
  fill: #0b5999; }

.character-cloud * {
  animation-duration: inherit;
  transform-origin: center; }

.control {
  padding: 8px 32px; }

.animation--3 .character-cloud .outline path, .animation--4 .character-cloud {
  animation-direction: alternate;
  animation-duration: inherit;
  animation-iteration-count: infinite;
  animation-timing-function: linear; }

.animation--3 .character-cloud .outline path {
  stroke-dasharray: 300;
  stroke: url(#gradient);
  stroke-width: 10px;
  stroke-linecap: round;
  animation-name: animOutlineRotation; }

@keyframes animOutlineRotation {
  0% {
    stroke-dashoffset: 0; }
  100% {
    stroke-dashoffset: 600; } }

.animation--4 .character-cloud {
  animation-name: animHueRotation; }

@keyframes animHueRotation {
  0% {
    filter: hue-rotate(0deg); }
  100% {
    filter: hue-rotate(360deg); } }

.animation--5 {
  filter: saturate(0); }

.animation--6 {
  filter: sepia(1); }
